---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
{% include bootstrap.css %}


div.wilsons-header {
  /* Positioning */
  /* Box-model */
  max-width: 800px;
  margin: 0 auto;
  /* Typography */
  /* Visual */
  text-align: center;
  /* Misc */
  img {
    /* Positioning */
    /* Box-model */
    max-width: 250px;
    /* Typography */
    /* Visual */
    /* Misc */
  }
}

div.wlsn-jumbotron {
  /* Positioning */
  /* Box-model */
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  /* Typography */
  /* Visual */
  background: url(/img/big.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Misc */
  img {
    /* Positioning */
    /* Box-model */
    max-width: 400px;
    /* Typography */
    /* Visual */
    /* Misc */
  }
}

div.wlsn-navigation {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  /* Misc */
  img {
    /* Positioning */
    /* Box-model */
    max-width: 400px;
    /* Typography */
    /* Visual */
    /* Misc */
  }
}

div.content-page {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  /* Misc */
  h2 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    /* Visual */
    color: rgb(58, 58, 58);
    /* Misc */
  }
  h3 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    /* Visual */
    /* Misc */
  }
}


.button {
  /* Positioning */
  /* Box-model */
  display: inline-block;
  // padding: 11px 22px;
  padding: 10px 30px;
  margin-bottom: 5px;
  white-space: nowrap;
  vertical-align: middle;
  /* Typography */
  font-size: 11px;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 0.7px;
  text-shadow: none;
  text-align: center;
  text-transform: uppercase;
  /* Visual */
  background-image: none;
  border: 1px solid #d4dce4;
  border-radius: 0px;
  box-shadow: none;
  cursor: pointer;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  /* Misc */
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  &:hover {
    text-decoration: none;
  }
  &.disabled {
    background: linear-gradient(#fff, #f7f9fb) #f7f9fb;
    border: 1px solid #d4dce4;
    color: #333;
    cursor: not-allowed;
    filter: alpha(opacity=50);
         -khtml-opacity: .50;
           -moz-opacity: .50;
                opacity: .50;
    &:hover {
      color: #333;
    }
  }
}

.btn-transparent {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-weight: 500;
  /* Visual */
  background-color: rgba(0,0,0,0);
  border-color: #fff;
  color: #fff;
  /* Misc */
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

  &:hover {
    border-color: #F1CA6C;
    color: #F1CA6C;
  }
  &:active, &:focus {
    border-color: #F1CA6C;
    color: #F1CA6C;
    outline: none !important;
  }
}

.btn-transparent-bk {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-weight: 500;
  /* Visual */
  background-color: rgba(0,0,0,0);
  border-color: #000;
  color: #000;
  /* Misc */
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

  &:hover {
    border-color: #F1CA6C;
    color: #F1CA6C;
  }
  &:active, &:focus {
    border-color: #F1CA6C;
    color: #F1CA6C;
    outline: none !important;
  }
}