/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

h1 {
  /* Positioning */
  /* Box-model */
  padding-top: 50px;
  /* Typography */
  /* Visual */
  /* Misc */
}